version: '3.8'

services:
  frontend:
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=https://api.phil-dashboard.atomgroup.dev
      - NEXT_PUBLIC_USE_MOCK=false
    restart: always
